.canvasContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .left {
    width: 200px;
    height: 100%;
    // border: 1px solid #ccc;
    margin-right: 20px;
  }
  .top {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 46px;
    border: 1px solid #ccc;
  }
}
.canvas {
  border: 1px solid #ccc;
  position: relative;
  width: fit-content;
  height: fit-content;
}
.controls {
  position: absolute;
  top: 80px;
  right: 10px;
  z-index: 10;
  width: 410px;
  height: 800px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 8px;
}

.rendererSwitcher {
  position: absolute;
  top: 10px;
  left: 220px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 4px;
}
